.container{
    max-width: 100%;
    margin:0 auto;
    padding:0 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter-div{
    width:40rem;
    border:1px solid red;
    padding: 1rem;
    background-color:blue;
    text-align: center;
    border-radius: 5px;
}
.counter-div > *{
    margin-bottom: 2rem;
}
.count{
    font-size: 4rem;
}
.buttons button {
    padding: 1rem;
    margin:0 1rem;
    font-size:1.5rem;
    /* color:antiquewhite; */
    border:none;
    outline:none;
    border-end-end-radius: 3px;

}
button.subtract {
    background-color: lightpink;

}

button.reset{
    background-color:lightgray;


}

button.add {
    background-color: lightgreen;

} 